*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background:  #f5f1e8;
    font-family: 'Poppins', sans-serif;
}



#presentes{
    width: 90%;
    max-width: 1400px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 410px;
}

.card h3{
    margin-bottom: 15px;
    margin-top: auto;
}

.disponivel{
    color: green;
    font-weight: bold;
}

.reservvado{
    color: red;
    font-weight: bold;
}

button{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #d4af37;color: white;
}

button:hover{
    opacity: .9;
}

#contador{
    text-align: center;
    padding: 30px;
    background: white;
    margin: 30px auto 50px;
    padding: 35px;
    max-width: 700px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .8);
}

#tempo{
    font-size: 2rem;
    font-weight: bold;
    color: #6a0dad;
    margin: 10px 0;
}

.foto-presente{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card {
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

button {
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #6a0dad;
}

.hero{
    height: 100vh;

    background-image: url("noivos1.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    
    display: flex;
    justify-content: center;
    align-items: center;

    animation: slideShow 20s infinite;
    transition: background-image 2s ease-in-out;
}




.overlay{
    background: rgba(0, 0, 0, 0.4);

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h1{
    color: white;
    font-size: 70px;
    font-family: 'Playfair Display' , serif;
    margin: 0;
}

.overlay p{
    color: white;
    font-size: 40px;
    margin: 0;
}

.overlay p2{
    color: white;
}

.btn-lista{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #663399;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-lista:hover{
    transform: translateY(-3px);
}

footer{
    text-align: center;
    padding: 40px;
    color: #666;
}
#footer p1{
    color: #666;
}

.galeria{
    padding: 80px 20px;
    text-align: center;
    background: #f8f5f2;
}

.galeria h2{
    font-size: 40px;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
    color: #444;
}

.fotos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

.fotos img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.3s;
}

.fotos img:hover{
    transform: scale(1.05);
}

@keyframes slideShow {

    0%, 25% {
        background-image: url("https://img.magnific.com/fotos-gratis/prepare-a-colocacao-de-anel-no-dedo-da-noiva_1157-338.jpg");
    }

    26%, 50% {
        background-image: url("https://www.arthurcaliman.com.br/wp-content/uploads/2023/12/tipos-de-casamento.jpg.webp");
    }

    51%, 75% {
        background-image: url("https://www.guiadecasamento.com.br/blog/wp-content/uploads/2026/04/sequel-wedding-casamento-em-sequencia.jpg");
    }

    76%, 100% {
        background-image: url("https://blog.reisman.com.br/wp-content/uploads/2023/09/fotos-para-casamento.jpeg");
    }
}

@media (max-width: 768px) {

    .overlay h1 {
        font-size: 60px;
        text-align: center;
    }

    .overlay p:first-of-type {
        font-size: 30px;
    }

    .overlay p {
        text-align: center;
        padding: 0 20px;
    }

    .btn-lista {
        padding: 15px 35px;
        font-size: 20px;
    }

    .hero {
        background-size: cover;
        background-position: center top;

    }

    .overlay h1{
        font-size: 42px;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    .overlay p{
        font-size: 18px;
        text-align: center;
        padding:0 15px;
    }
    
    .btn-lista{
        padding: 12px 25px;
        font-size: 18px;
    }
}